<!-- <div class="form_container">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <header>Thông tin bạn đọc Freetuts</header>
        <label>Họ và tên
            <span>*</span>
        </label>
        <input type="text" name="name" formControlName="name" />
        <label>Số ĐT
            <span>*</span>
        </label>
        <input type="number" name="phone" formControlName="phone" />
        <label>Địa chỉ
            <span></span>
        </label>
        <input type="text" name="address" formControlName="address" />
        <label>Lời nhắn gửi
            <span></span>
        </label>
        <input type="text" name="message" formControlName="message" />
        <button [disabled]="!formdata.valid" value="Submit">Submit</button>
        <button routerLink="">Trở lại</button>
    </form>
</div> -->
<!-- <br /> -->
<div id="custtable" style="margin:0 auto;">
    <table>
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>SDT</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of results">
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
            </tr>
        </tbody>
    </table>
</div>